<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link th:href="@{/assets/css/material-kit.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/5.1.0/css/all.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/assets/css/jquery-confirm.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/5.1.0/css/all.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/assets/css/responsive.dataTables.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/assets/css/styles.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div th:fragment="header">
        <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg "  color-on-scroll="100"  id="sectionsNav">

            <div class="container">
                <div class="navbar-translate">

                    <a class="navbar-brand" th:href="@{/}">
                        BMP Symposium 2018</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <!--<li class="dropdown nav-item">-->
                        <!--<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">-->
                        <!--<i class="material-icons">apps</i> Components-->
                        <!--</a>-->
                        <!--<div class="dropdown-menu dropdown-with-icons">-->
                        <!--<a href="../index.html" class="dropdown-item">-->
                        <!--<i class="material-icons">layers</i> All Components-->
                        <!--</a>-->
                        <!--<a href="../docs/2.0/getting-started/introduction.html" class="dropdown-item">-->
                        <!--<i class="material-icons">content_paste</i> Documentation-->
                        <!--</a>-->
                        <!--</div>-->
                        <!--</li>-->

                        <!--<li class="dropdown nav-item">-->
                        <!--<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">-->
                        <!--<i class="material-icons">view_day</i> Sections-->
                        <!--</a>-->
                        <!--<div class="dropdown-menu dropdown-with-icons">-->
                        <!--<a href="../sections.html#headers" class="dropdown-item">-->
                        <!--<i class="material-icons">dns</i> Headers-->
                        <!--</a>-->
                        <!--<a href="../sections.html#features" class="dropdown-item">-->
                        <!--<i class="material-icons">build</i> Features-->
                        <!--</a>-->
                        <!--<a href="../sections.html#blogs" class="dropdown-item">-->
                        <!--<i class="material-icons">list</i> Blogs-->
                        <!--</a>-->
                        <!--<a href="../sections.html#teams" class="dropdown-item">-->
                        <!--<i class="material-icons">people</i> Teams-->
                        <!--</a>-->
                        <!--<a href="../sections.html#projects" class="dropdown-item">-->
                        <!--<i class="material-icons">assignment</i> Projects-->
                        <!--</a>-->
                        <!--<a href="../sections.html#pricing" class="dropdown-item">-->
                        <!--<i class="material-icons">monetization_on</i> Pricing-->
                        <!--</a>-->
                        <!--<a href="../sections.html#testimonials" class="dropdown-item">-->
                        <!--<i class="material-icons">chat</i> Testimonials-->
                        <!--</a>-->
                        <!--<a href="../sections.html#contactus" class="dropdown-item">-->
                        <!--<i class="material-icons">call</i> Contacts-->
                        <!--</a>-->
                        <!--</div>-->
                        <!--</li>-->

                        <!--<li class="dropdown nav-item">-->
                        <!--<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">-->
                        <!--<i class="material-icons">view_carousel</i> Examples-->
                        <!--</a>-->
                        <!--<div class="dropdown-menu dropdown-with-icons">-->
                        <!--<a href="about-us.html" class="dropdown-item">-->
                        <!--<i class="material-icons">account_balance</i> About Us-->
                        <!--</a>-->
                        <!--<a href="blog-post.html" class="dropdown-item">-->
                        <!--<i class="material-icons">art_track</i> Blog Post-->
                        <!--</a>-->
                        <!--<a href="blog-posts.html" class="dropdown-item">-->
                        <!--<i class="material-icons">view_quilt</i> Blog Posts-->
                        <!--</a>-->
                        <!--<a href="contact-us.html" class="dropdown-item">-->
                        <!--<i class="material-icons">location_on</i> Contact Us-->
                        <!--</a>-->
                        <!--<a href="landing-page.html" class="dropdown-item">-->
                        <!--<i class="material-icons">view_day</i> Landing Page-->
                        <!--</a>-->
                        <!--<a href="login-page.html" class="dropdown-item">-->
                        <!--<i class="material-icons">fingerprint</i> Login Page-->
                        <!--</a>-->
                        <!--<a href="pricing.html" class="dropdown-item">-->
                        <!--<i class="material-icons">attach_money</i> Pricing Page-->
                        <!--</a>-->
                        <!--<a href="shopping-cart.html" class="dropdown-item">-->
                        <!--<i class="material-icons">shopping_basket</i> Shopping Cart-->
                        <!--</a>-->
                        <!--<a href="ecommerce.html" class="dropdown-item">-->
                        <!--<i class="material-icons">store</i> Ecommerce Page-->
                        <!--</a>-->
                        <!--<a href="product-page.html" class="dropdown-item">-->
                        <!--<i class="material-icons">shopping_cart</i> Product Page-->
                        <!--</a>-->
                        <!--<a href="profile-page.html" class="dropdown-item">-->
                        <!--<i class="material-icons">account_circle</i> Profile Page-->
                        <!--</a>-->
                        <!--<a href="signup-page.html" class="dropdown-item">-->
                        <!--<i class="material-icons">person_add</i> Signup Page-->
                        <!--</a>-->
                        <!--</div>-->
                        <!--</li>-->

                        <li class="button-container nav-item iframe-extern">
                            <a th:href="@{/logout}" target="_self" class="btn  btn-rose   btn-round btn-block">
                                <i class="fas fa-sign-in-alt"></i><span class="ml2">&nbsp&nbsp&nbspLogout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>