<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registrar</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link th:href="@{/assets/css/material-kit.min.css}" type="text/css" rel="stylesheet"/>
    <!--<link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>-->
    <link th:href="@{/webjars/font-awesome/5.1.0/css/all.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/assets/css/form-wizard-blue.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/assets/css/jquery-confirm.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/5.1.0/css/all.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/webjars/select2/4.0.5/css/select2.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/assets/css/styles.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/assets/css/pnotify.custom.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/assets/css/responsive.dataTables.min.css}" type="text/css" rel="stylesheet"/>
</head>
<body oncontextmenu="return false;">

<div class="image-container" style="background-image: url('assets/img/wizard-profile.jpg')">
    <!-- main content -->
    <section class="form-box">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 mx-auto">
                    <div class="form-wizard form-header-classic">
                        <div>
                            <h3>Sign Up</h3>
                            <p>Fill all form field to go next step</p>

                            <!-- Form progress -->
                            <div class="form-wizard-steps form-wizard-tolal-steps-4">
                                <div class="form-wizard-progress">
                                    <div class="form-wizard-progress-line" data-now-value="12.25" data-number-of-steps="4" style="width: 12.25%;"></div>
                                </div>
                                <!-- Step 1 -->
                                <div class="form-wizard-step active">
                                    <div class="form-wizard-step-icon"><i class="fas fa-church" aria-hidden="true"></i></div>
                                    <p>Church</p>
                                </div>
                                <!-- Step 1 -->

                                <!-- Step 2 -->
                                <div class="form-wizard-step">
                                    <div class="form-wizard-step-icon"><i class="fas fa-users" aria-hidden="true"></i></div>
                                    <p>Delegates</p>
                                </div>
                                <!-- Step 2 -->

                                <!-- Step 3 -->
                                <div class="form-wizard-step">
                                    <div class="form-wizard-step-icon"><i class="fa fa-camera" aria-hidden="true"></i></div>
                                    <p>Image</p>
                                </div>
                                <!-- Step 3 -->

                                <!-- Step 4 -->
                                <div class="form-wizard-step">
                                    <div class="form-wizard-step-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                                    <p>Success</p>
                                </div>
                                <!-- Step 4 -->
                            </div>
                            <!-- Form progress -->


                            <!-- Form Step 1 -->
                            <fieldset>
                                <!-- Progress Bar -->
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                                    </div>
                                </div>
                                <!-- Progress Bar -->
                                <h4>Account Information: <span>Step 1 - 4</span></h4>

                                <!--fields-->
                                <div class="form-group">
                                    <label>Church Name:</label>
                                    <select class="form-control churchName" id="churchname" th:field="*{church.churchName}">
                                        <option value=""></option>
                                        <option th:each="church : ${churches}"
                                                th:value="${church.id.codeValue}"
                                                th:text="${church.desc1}">WireFrame</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Church Address:</label>
                                    <input id="church_address" class="form-control"/>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-4">
                                        <label>Country:</label>
                                        <select class="form-control" id="country" th:field="*{church.address.country}">
                                            <option th:each="c : ${countries}"
                                                    th:value="${c.code}"
                                                    th:text="${c.country}">WireFrame</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>State:</label>
                                        <select class="form-control" id="state">
                                            <option></option>
                                        </select>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>City:</label>
                                        <select class="form-control" id="city">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6"><label>Church Email:</label><input class="form-control" type="email" name="email" id="church_email"></div>
                                    <div class="form-group col-sm-6"><label>Church Contact:</label><input class="form-control" type="text" id="church_contact_number"></div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6"><label>Contact Person:</label><input class="form-control" type="text" id="church_contact_person"></div>
                                    <div class="form-group col-sm-6"><label>Contact Number:</label><input class="form-control" type="text" id="church_contact_person_number"></div>
                                </div>
                                <!--fields-->
                                <div class="form-wizard-buttons">
                                    <button type="button" class="btn btn-next btn-save-church btn-success">Next</button>
                                </div>
                            </fieldset>
                            <!-- Form Step 1 -->

                            <!-- Form Step 2 -->
                            <fieldset>
                                <!-- Progress Bar -->
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                    </div>
                                </div>
                                <!-- Progress Bar -->
                                <h4>Delegate's Information : <span>Step 2 - 4</span></h4>
                                <!--fields-->
                                <!--table-->
                                <button type="button" class="btn btn-primary" id="newRegistrantBtn" >
                                    Add Delegate
                                </button>
                                <table class="table display responsive nowrap" style="width:100%" id="registrantTable">
                                    <thead>
                                    <tr>
                                        <th data-priority="2">Name</th>
                                        <th data-priority="3">Designation</th>
                                        <th data-priority="4">Birthday</th>
                                        <th data-priority="5">Gender</th>
                                        <th data-priority="6">Civil Status</th>
                                        <th data-priority="7">Contact Number</th>
                                        <th data-priority="8">Email</th>
                                        <th data-priority="1"></th>
                                        <th data-priority="9" hidden>Id</th>
                                        <!--<th data-priority="1"></th>-->
                                    </tr>
                                    </thead>
                                    <!--<tbody>-->
                                    <!--<tr th:each="r : ${delegates}">-->
                                        <!--<td th:text="${r.id}"></td>-->
                                        <!--<td th:text="${r.firstName + ' ' + r.lastName}"></td>-->
                                        <!--<td th:text="${r.designation}"></td>-->
                                        <!--<td th:text="${r.birthDate}"></td>-->
                                        <!--<td th:text="${r.gender}"></td>-->
                                        <!--<td th:text="${r.civilStatus}"></td>-->
                                        <!--<td th:text="${r.mobileNumber}"></td>-->
                                        <!--<td th:text="${r.email}"></td>-->
                                        <!--<td><a th:href="@{register/delegate/findOne(id=${r.id})}" class="btn btn-primary edit-btn">Edit</a></td>-->
                                    <!--</tr>-->
                                    <!--</tbody>-->
                                </table>
                                <!--fields-->
                                <!--modal-->
                                <!--registrant modal-->
                                <div class="modal fade registrantForm" id="registrantModal" tabindex="-1" role="dialog" aria-labelledby="Registrant Details" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Registrant Details</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div hidden class="form-group">
                                                    <label>Id</label>
                                                    <input class="form-control" type="text" id="id" name="id" value="">
                                                </div>
                                                <div class="form-group">
                                                    <label>Designation:</label>
                                                    <select class="form-control" id="designation" name="designation" value="">
                                                        <option th:each="c : ${designation}"
                                                                th:value="${c.id.codeValue}"
                                                                th:text="${c.desc2}+ ' ' + ${c.desc1}">WireFrame</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>First Name:</label>
                                                    <input class="form-control" type="text" id="firstname" name="firstname" value=""></div>
                                                <div class="form-group">
                                                    <label>Middle Name:</label>
                                                    <input class="form-control" type="text" id="middlename" name="middlename" value=""></div>
                                                <div class="form-group">
                                                    <label>Last Name:</label>
                                                    <input class="form-control" type="text" id="lastname" name="lastname" value=""></div>
                                                <div class="form-group">
                                                    <label>Date of Birth:</label>
                                                    <input class="form-control" type="date" id="birthday" name="birthday" value=""></div>
                                                <div class="row">
                                                    <div class="form-group col-sm-6">
                                                        <label>Gender:</label>
                                                        <select class="form-control" id="gender" name="gender" value="">
                                                            <option th:each="c : ${gender}"
                                                                    th:value="${c.id.codeValue}"
                                                                    th:text="${c.desc1}">WireFrame</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-sm-6">
                                                        <label>Civil Status:</label>
                                                        <select class="form-control" id="civilstatus" name="civilstatus" value="">
                                                            <option th:each="c : ${civilstatus}"
                                                                    th:value="${c.id.codeValue}"
                                                                    th:text="${c.desc1}">WireFrame</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>Email:</label>
                                                    <input class="form-control" type="email" id="email" name="email" placeholder="youremail@domain.com" value="">
                                                </div>
                                                <div class="form-group">
                                                    <label>Mobile Number:</label>
                                                    <input class="form-control" type="text" id="mobilenumber" name="mobilenumber" value="">
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <input type="submit" class="btn btn-danger" value="delete" id="registrantDeleteBtn"/>
                                                <input type="button" class="btn btn-primary" value="save" id="registrantSaveBtn"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-wizard-buttons">
                                    <button type="button" class="btn btn-previous">Previous</button>
                                    <button type="button" class="btn btn-next btn-success">Next</button>
                                </div>
                            </fieldset>
                            <!-- Form Step 2 -->

                            <!-- Form Step 3 -->
                            <fieldset>
                                <!-- Progress Bar -->
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                                    </div>
                                </div>
                                <!-- Progress Bar -->
                                <h4>Profile Image: <span>Step 3 - 4</span></h4>
                                <div style="clear:both;"></div>
                                <div class="form-group image-upload">
                                    <div class="setting image_picker">
                                        <br/><h3 class="text-center">Upload Profile Image</h3>
                                        <div class="settings_wrap">
                                            <label class="drop_target">
                                                <div class="image_preview"></div>
                                                <input id="inputFile" type="file"/>
                                            </label>
                                            <div class="settings_actions vertical"><a class="disabled" data-action="remove_current_image"><i class="fa fa-trash" aria-hidden="true"></i> Remove Image</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Yes, show this image on my profile.
                                    </label>
                                </div>
                                <div class="form-wizard-buttons">
                                    <button type="button" class="btn btn-previous">Previous</button>
                                    <button type="button" class="btn btn-next">Next</button>
                                </div>
                            </fieldset>
                            <!-- Form Step 3 -->

                            <!-- Form Step 4 -->
                            <fieldset>
                                <!-- Progress Bar -->
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                    </div>
                                </div>
                                <!-- Progress Bar -->
                                <h4>Success Account: <span>Step 4 - 4</span></h4>
                                <div style="clear:both;"></div>
                                <div class="success">
                                    <h3>Sing Up Success</h3>
                                    <div class="success-icon"><i class="fa fa-check" aria-hidden="true"></i></div>
                                </div>
                                <div class="form-wizard-buttons">
                                    <button type="button" class="btn btn-previous">Previous</button>
                                    <button type="submit" class="btn btn-submit">Done</button>
                                </div>
                            </fieldset>
                            <!-- Form Step 4 -->

                        </div>

                    </div>
                    <!-- Form Wizard -->
                </div>

            </div>
        </div>
    </section>

</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/popper.min.js}"></script>
<!--<script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>-->
<script type="text/javascript" th:src="@{/assets/js/bootstrap-material-design.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/bootstrap-selectpicker.js}"></script>
<script type="text/javascript" th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/momentjs/2.22.2/moment.js}"></script>
<script type="text/javascript" th:src="@{/webjars/select2/4.0.5/js/select2.full.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/main.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/form-wizard.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery-confirm.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/pnotify.custom.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/dataTables.responsive.min.js}"></script>
</body>
</html>