<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Assessment</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/webjars/font-awesome/5.1.0/css/all.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/webjars/datatables/1.10.19/css/dataTables.bootstrap4.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/assets/css/style.default.admin.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/assets/css/jquery-confirm.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/5.1.0/css/all.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/assets/css/responsive.dataTables.min.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/assets/css/select.dataTables.min.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
<input type="text" hidden="hidden" id="event" name="event" th:value="${eventId}">
<div style="background-color: #e1e1e1">
    <!-- Main Navbar-->
    <header class="header">
        <nav class="navbar">
            <!-- Search Box-->
            <div class="search-box">
                <button class="dismiss"><i class="icon-close"></i></button>
                <form id="searchForm" action="#" role="search">
                    <input type="search" placeholder="What are you looking for..." class="form-control">
                </form>
            </div>
            <div class="container-fluid">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <!-- Navbar Header-->
                    <div class="navbar-header">
                        <!-- Navbar Brand --><a th:href="@{/assessment}" class="navbar-brand d-none d-sm-inline-block">
                        <div class="brand-text d-none d-lg-inline-block"><span th:text="${event}"> </span>&nbsp;&nbsp;&nbsp;<strong th:text="${year}"></strong></div>
                        <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BMP</strong></div></a>
                    </div>
                    <!-- Navbar Menu -->
                    <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                        <!-- Search-->
                        <li class="nav-item d-flex align-items-center"><a id="search" href="#"><i class="icon-search"></i></a></li>
                        <!-- Logout    -->
                        <li class="nav-item"><a th:href="@{/logout}" class="nav-link logout"> <span class="d-none d-sm-inline">Logout</span><i class="fas fa-sign-out-alt"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="content-inner" style="padding-bottom: 0px; width: 100%">
        <!--Header-->
        <header class="page-header">
            <div class="container-fluid">
                <h2 class="no-margin-bottom">Assessment</h2>
            </div>
        </header>

        <!-- Breadcrumb-->
        <div class="breadcrumb-holder container-fluid">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/assessment}">Assessment</a></li>
                <li class="breadcrumb-item active">Delegates</li>
            </ul>
        </div>

        <div class="container mx-auto">
            <section>
                <div class="card">
                    <div class="card-header">
                        <span><h4 class="church_lbl float-left"></h4></span>
                        <button type="button" class="btn btn-primary float-right" id="editFee">Edit Fee</button>
                    </div>
                    <div class="card-body">
                        <!--Registrant details-->
                        <table class="table display responsive nowrap" style="width:100%" id="registrantTable">
                            <thead>
                                <tr>
                                    <th data-priority="9">Id</th>
                                    <th data-priority="2">Name</th>
                                    <th th:if="${eventId} == 1" data-priority="7">Designation</th>
                                    <th th:if="${eventId} == 2" data-priority="7">Classification</th>
                                    <th data-priority="8">Birthday</th>
                                    <th data-priority="3">Subsidy</th>
                                    <th data-priority="3">Room Type</th>
                                    <th data-priority="3">Fee</th>
                                    <th data-priority="3">Remarks</th>
                                    <th data-priority="1"></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="float-right">
                    <button type="button" class="btn btn-primary submitBtn">Submit for payment</button>
                </div>

            </section>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="feeModal" tabindex="-1" role="dialog" aria-labelledby="feeModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="feeModalLabel">Delegate's Fee</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Subsidy:</label>
                            <select class="form-control" id="subsidy" name="subsidy" value="">
                                <option></option>
                                <option th:each="c : ${subsidy}"
                                        th:value="${c.id.codeValue}"
                                        th:text="${c.id.codeValue}+ ' = '+ ${c.desc1}+' %'">WireFrame</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Room Type:</label>
                            <select class="form-control" id="roomtype" name="roomtype" value="">
                                <option></option>
                                <option th:each="c : ${room}"
                                        th:value="${c.id.codeValue}"
                                        th:text="${c.id.codeValue}+ ' = P ' + ${c.desc1}">WireFrame</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Remarks:</label>
                            <textarea class="form-control required" type="text" id="remarks"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary updateFeeBtn">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/momentjs/2.22.2/moment.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/dataTables.select.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/main.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery-confirm.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/dataTables.responsive.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/front.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/assessment/assessment.js}"></script>

</body>
</html>